In [1]:
# for loop

In [2]:
# syntax:  
#  for variable_name in access_variable name:
#         statement

In [3]:
list=[1,20,45,34,24,78]
print(list)

[1, 20, 45, 34, 24, 78]

In [4]:
list_name=[1,20,45,34,24,78]

for item in list_name:
    print(item)

1
20
45
34
24
78

In [9]:
# print natural number 

num=int(input("Enter a number "))
for item in range(0,10):
    print(item)

Enter a number 10
0
1
2
3
4
5
6
7
8
9

#  For Loop extended

In [1]:
# for loop use 
# range function
# syantx :  for variable_name in range(start,end, condition):
#                            statement
for num in range(0,10,2):
    print(num)

0
2
4
6
8

# enumerate function

In [1]:
# enumerate function --> print indexs and output object

In [4]:
# exapmle 
word='abcde'
for item in enumerate(word):
        print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
word='abcde'
for item,letter in enumerate(word):
        print(item)
        print(letter)
        print('\n')

0
a


1
b


2
c


3
d


4
e

# Zip Function

In [9]:
# zip function --> mixed two list

In [11]:
# example
mylist1=[1,2,3,4,4]
mylist2=['a','b','c','d','e']

In [12]:
zip(mylist1,mylist2)

In [13]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(4, 'e')

In [1]:
#min function

In [2]:
list=[10,30,40,50,60,100]
min(list)

10

In [3]:
# max function

In [4]:
list=[10,30,40,50,60,100]
max(list)

100

In [5]:
# import function

In [6]:
from random import shuffle

In [11]:
mylist=[1,2,3,4,5,6,7,80,10]
shuffle(mylist)

In [12]:
mylist

[10, 5, 1, 80, 7, 3, 4, 2, 6]

In [13]:
mylist

[10, 5, 1, 80, 7, 3, 4, 2, 6]

In [2]:
# randint
from random import randint

In [3]:
randint(0,100)

42

In [4]:
randint(0,100)

91

In [5]:
name=input("Enter a name ")
type(name)

Enter a name ayush

str

In [2]:
# list use append function

mystring="Ayush"

In [4]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['A', 'y', 'u', 's', 'h']

In [6]:
mylist=[letter for letter in mystring]

In [7]:
mylist

['A', 'y', 'u', 's', 'h']

In [15]:
mylist=[num for num in range(0,11)]

In [13]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
mylist=[num**2 for num in range(0,11)]

In [17]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# print even number
mylist=[num for num in range(0,11) if num%2==0]

In [19]:
mylist

[0, 2, 4, 6, 8, 10]

In [20]:
celcius=[0,1,20,30,40.5]
fahernhit=[((9/5)*temperature+32) for temperature in celcius]

In [21]:
fahernhit

[32.0, 33.8, 68.0, 86.0, 104.9]

In [23]:
mylist=[num for num in range(0,20) if num%2!=0]

In [24]:
mylist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]