# Set

In [1]:
#define empty set
set_var=set()
print(set_var)

set()

In [2]:
#create set
set_var={'iron-man','Thor'}
print(set_var)

{'Thor', 'iron-man'}

# define--->
A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [1]:
set_var={1,2,3,4,4}

In [3]:
set_var

{1, 2, 3, 4}

In [5]:
set_var={1,2,"Ayush"}
print(set_var)
type(set_var)

{1, 2, 'Ayush'}

set

In [6]:
#built in function
# set is not supported indexed

In [7]:
# example of indexing

In [8]:
set_var[0]

TypeError: 'set' object is not subscriptable

In [9]:
# Inbuilt function in sets

In [10]:
set_var.add('Tushar')

In [11]:
set_var

{1, 2, 'Ayush', 'Tushar'}

In [12]:
# difference -- this function to remove common elements sets

In [13]:
set1={'ayush','tushar','shubham','hulk'}
set2={'ayush','tushar','shubham','Hitman'}

In [14]:
print(set1)
print(set2)

{'tushar', 'hulk', 'ayush', 'shubham'}
{'Hitman', 'tushar', 'ayush', 'shubham'}

In [15]:
set2.difference(set1)

{'Hitman'}

In [16]:
#update the set use difference_update() function

In [17]:
set2.difference_update(set1)

In [18]:
print(set2)

{'Hitman'}

In [19]:
# union function

In [20]:
people={'Rakesh','Virat','Rupesh'}
vampire={'Raju','krishna'}
dracula={'kaju','Anand'}

population=people.union(vampire)

In [21]:
print(population)

{'Rupesh', 'krishna', 'Rakesh', 'Virat', 'Raju'}

In [31]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)
for j in range(3,9):
    set2.add(j)
# intersection 
set3=set2.intersection(set1)

In [32]:
print(set3)

{3, 4}